<div>
   Name: <input type="text" placeholder="Enter the name" ng-model="$ctrl.name">
   <br>
   Email:<input type="email" placeholder="Enter the Email" ng-model="$ctrl.email">
   <br>
   City:<input type="text" placeholder="Enter the city" ng-model="$ctrl.city">
   <br>
   Mobile Number:<input type="number" placeholder="Enter the Mobile Number" ng-model="$ctrl.mobile_number">
   <br>
   Password<input type="password" placeholder="Enter the password" ng-model="$ctrl.pwd">
   <br>
   <button ng-click="$ctrl.register()">Register</button>
   <button ng-click="$ctrl.cancel()">Cancel</button>
   <br>
   <h4 ng-bind="$ctrl.msg"></h4>
</div>